{
  "plugins": ["eslint-plugin-tsdoc"],
  "extends": ["oclif", "oclif-typescript"],
  "rules": {
    "object-curly-spacing": "off",
    "semi": "off",
    "node/no-missing-import": "off",
    "comma-dangle": "off",
    "unicorn/filename-case": [
      "error",
      {
        "cases": {
          "camelCase": true,
          "pascalCase": true
        }
      }
    ],
    "tsdoc/syntax": "warn",
    "valid-jsdoc": "off",
    "indent": ["error", 2, { "MemberExpression": 1 }]
  }
}
