# Dependency directories
node_modules/

# Builds and caches
.cache/
build/

# dotenv environment variable files
.env
.env.mainnet
.env.testnet
.env.local

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Logs
logs
*.log
npm-debug.log*

# Environment specific files
.DS_Store
*.bak
