# Setting `ARCHWAY_NO_VERSION_CHECK=true` will skip automatically checking if the CLI is updated to the latest version. 
# This setting should only disabled during development, when working on a version AHEAD of the latest published version published to NPM
# Additionally, `ARCHWAY_NO_VERSION_CHECK` must be disabled when using `npm build` to publish a package for distribution with NPM
ARCHWAY_NO_VERSION_CHECK=false